.comment_bar{
    display: flex;
    margin-bottom: 40px;
    border-radius: 20px;
}

.comment_bar > * {
    padding: 10px 0;
}

.comment_bar input{
    color: var(--primary);
    border: 0;
    background-color: var(--secondary) ;
    font-size: large;
    width: 85%;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
}

.comment_bar input:focus{
    outline: none;
}

.comment_bar button{
    color: var(--secondary);
    background-color: var(--primary);
    border: 0;
    width: 15%;
    border-radius: 0px 20px 20px 0px;
}

.comment_bar button svg{
    transition: all 0.2s ease-in-out;
}

.comment_bar button:hover{
    color: var(--focus);
}

.comment_bar button:hover svg{
    transform: scale(1.3);
}