h1{
    margin: 50px 0;
    color: var(--primary);
    align-self: center;
}

.post_form{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 700px;
    background-color: var(--primary);
    font-size: x-large;
    color: var(--secondary);
    border-radius: 10px;
}
.post_form >*{
    margin: 10px;
}

.post_form img {
    max-height: 100%;
}

.labels{
    width: 55%;
}

.labels label{
    margin: 20px 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.labels input{
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.button{
    padding: 10px 0;
    width: 30%;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
}

.button:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px solid  var(--focus);
}

.image_container{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 35%;
    margin-top: 48px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

@media (max-width: 500px) {
    .post_form{
        width:80vw;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .labels, .image_container{
        width: 90%;
        padding: 0;
        margin: 10px 0px;
    }

    h1{
        text-align: center;
    }
  }