.action{
    display: flex;
    border-radius: 0px 0px 10px 10px;
}

.action button:nth-child(1){
    border-radius: 0px 0px 0px 10px ;
}

.action button:nth-child(2){
    border-radius: 0px 0px 10px 0px ;
}
.action button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
    border: 0;
    padding: 15px 0px;
    width: 50%;
    padding: auto;
    color: #98C1D9;
    text-align: center;
}


.action button:hover{
    background-color: #98C1D9;
    color: #3D5A80;
}