.post_wrapper{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts_header{
    display: flex;
    justify-content: space-between;
    width: min(90vw, 500px);
    border-bottom: 4px solid var(--primary);
    margin-top: 3vh;
    padding: 0;
}

.posts_header *{
    padding: 0;
    margin: 5px;
}

.buttons button{
    display: flexbox;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    background-color:inherit;
    color: var(--primary);
    cursor: pointer;
}
.buttons button svg{
    padding: 0;
    margin: 0;
}

.buttons button:hover{
    border: 0;
    color: var(--focus);
    cursor: pointer;
}

@media(max-width: 400px){
    .posts_header h1{
        font-size: medium;
    }
}