.main_navbar{
    margin: 0;
    width: 100%;
    background-color: var(--primary);
    padding: 15px 0px;
}

.main_navbar ul{
    gap: 60%;
    padding: 0px;
    margin: 0px;
    width: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main_navbar ul  *{
    margin: auto 0;
    color : var(--background);
}


