.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3D5A80;
    color: #E0FBFC;
}

.footer svg{
    margin: auto 0;
}

.footer *{
    padding: 10px 0px;
    gap: 300px;
}