.footer{
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: space-around;
    background-color: var(--primary);
    color: var(--background);
}

.footer svg{
    margin: auto 0;
}

.footer *{
    padding: 10px 0px;
    gap: 300px;
}