.comment{
    color: var(--secondary);
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    background-color: var(--primary);
    margin: 10px 0;
}

.comment > *{
    margin: 0 20px;
}
.comment h3{
    color: var(--focus);
}
