.comments{
    display: flex;
    flex-direction: column;
    background-color: red;
    max-width: 500px;
}

.comment{
    color: #98C1D9;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    background-color: #3D5A80;
    margin: 10px 0;
}

.comment > *{
    margin: 0 20px;
}
.comment h3{
    color: #EE6C4D;
}

.comment_bar{
    display: flex;
    margin-bottom: 40px;
    background-color: red;
    border-radius: 20px;
}

.comment_bar > * {
    padding: 10px 0;
}

.comment_bar input{
    color: #3D5A80;
    border: 0;
    background-color: #98C1D9 ;
    font-size: large;
    width: 85%;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
}

.comment_bar input:focus{
    outline: none;
}

.comment_bar button{
    color: #98C1D9;
    background-color: #3D5A80;
    border: 0;
    width: 15%;
    border-radius: 0px 20px 20px 0px;
}

.comment_bar button svg{
    transition: all 0.2s ease-in-out;
}

.comment_bar button:hover{
    color: #EE6C4D;
}

.comment_bar button:hover svg{
    transform: scale(1.3);
}
