.post{
    border-radius: 10px;
    min-height: 100px;
    min-width: 500px;
    max-width: 500px;
    margin: 20px 0px;
    color: var(--background);
    background-color: var(--primary);
}
.post h2{
    margin: 10px;
}

.post > h2 > span {
    color: var(--focus);
    font-size: medium;
}

.post p{
    margin: 10px;
}

.img_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.img_wrapper img{
    height: 100%;
    max-width: 500px;
}

.action{
    display: flex;
    border-radius: 0px 0px 10px 10px;
}

#first{
    border-radius: 0px 0px 0px 10px ;
}

#second{
    border-radius: 0px 0px 10px 0px ;
}
.action button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border: 0;
    padding: 15px 0px;
    width: 50%;
    padding: auto;
    color: var(--secondary);
    text-align: center;
}


.action button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

.action button > svg {
    margin-right: 10px;
}