.post{
    border-radius: 10px;
    min-height: 100px;
    min-width: 500px;
    max-width: 500px;
    margin: 20px 0px;
    color: #E0FBFC;
    background-color: #3D5A80;
}
.post h2{
    margin: 10px;
}

.post > h2 > span {
    color: #EE6C4D;
    font-size: medium;
}

.post p{
    margin: 10px;
}

.img_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98C1D9;
}

.img_wrapper img{
    height: 100%;
    max-width: 500px;
}

.action{
    display: flex;
    border-radius: 0px 0px 10px 10px;
}

.action button:nth-child(1){
    border-radius: 0px 0px 0px 10px ;
}

.action button:nth-child(2){
    border-radius: 0px 0px 10px 0px ;
}
.action button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
    border: 0;
    padding: 15px 0px;
    width: 50%;
    padding: auto;
    color: #98C1D9;
    text-align: center;
}


.action button:hover{
    background-color: #98C1D9;
    color: #3D5A80;
}

.action button > svg {
    margin-right: 10px;
}