.form {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 600px;
    background-color: #3D5A80;
    font-size: x-large;
    color: #98C1D9;
    border-radius: 10px;
}
.form label{
    width: 65%;
}


.form > * {
    padding: 30px;
    margin: 10px;
}
.form input{
    outline: #98C1D9 1px;
    font-size: large;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    display: block;
    
}
.button{
    height: 50px !important;
    padding: 10px 0;
    width: 30% !important;
    border-radius: 10px;
    border: 1px solid #98C1D9 ;
    background-color: #98C1D9;
    color: #3D5A80;
}